@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container{
  max-width: 1280px;
  margin: auto;
}

@media (0px < width <= 360px) {
  .container{
    padding: 0rem 1rem;
  }
}
@media (361px < width <= 430px) {
  .container{
    padding: 0rem 1.2rem;
  }
}
@media (431px < width <= 650px) {
  .container{
    padding: 0rem 1.8rem;
  }
}
@media (651px < width <= 768px) {
  .container{
    padding: 0rem 2rem;
  }
}

@media (769px < width <= 1080px) {
  .container{
    padding: 0rem 2.5rem;
  }
}
@media (1081px < width <= 1190px) {
  .container{
    padding: 0rem 2.7rem;
  }
}
@media (1191px < width <= 1300px) {
  .container{
    padding: 0rem 3rem;
  }
}